discord.py-self
pyPrivnote
names
simplejson
aiohttp
colour
termcolour
Faker
plyer
sty
colorama
discord-rpc.py
requests
uwuify
numpy
discum
discord-webhook
random_user_agent
gputil
psutil
pillow
pygame
sounddevice
discord-emoji
pync
WMI
winshell
